<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
 <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RabbitMQ name="rabbitmq"
                queueName="system-a.log.queue"
                exchangeName="logging.exchange"
                host="192.168.178.167"
                port="5672"
                username="guest"
                password="guest">
            <PatternLayout pattern="[BEETHOVEN] %d{yyyy-MM-dd HH:mm:ss} %-5level %msg%n"/>
        </RabbitMQ>
</Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>   
            <AppenderRef ref="rabbitmq"/>
        </Root>
    </Loggers>
AC
</Configuration>